# Postgres
POSTGRES_USER=nexott
POSTGRES_PASSWORD=nexott_dev
POSTGRES_DB=nexott_learn
POSTGRES_PORT=5435

# API
API_PORT=4000
DATABASE_URL=postgresql://nexott:nexott_dev@localhost:5435/nexott_learn?schema=public
SESSION_SECRET=cambiar_en_produccion_minimo_32_caracteres_random
COOKIE_DOMAIN=localhost
NODE_ENV=development

# Web
VITE_API_URL=http://localhost:4000
