node_modules
dist
build
.turbo
.next
coverage
.DS_Store

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Postgres data
postgres-data/
pgdata/

# Prisma
apps/api/prisma/migrations/dev.db*

# Local link a la libreria nexott-ui (solo desarrollo local)
.pnpmfile.cjs
